* {
    box-sizing: border-box;
  }

body {
    font-family: futura-pt;
    background-image: linear-gradient(#3C5943, #888C69);
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
}

nav a {
    color: #F5F5EF;
    text-decoration: none;
}

h1 {
    font-family: futura-pt;
    font-weight: 700;
    color: #F5F5EF;
    text-align: center;
}

h2 {
    font-family: futura-pt;
    font-weight: 600;
    text-align: center;
    color: #F5F5EF;
    font-size: 35px;
}

h3 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: #F5F5EF;
}

.btn {
    background-color: #D97652;
    color: #F5F5EF;
    padding: 15px;
}

.header {
    margin: 240px;
}

form {
    display: flex;
    flex-direction: column;
    margin: 20px 300px;
    gap: 5px;
    color:#F5F5EF;
}

input {
    padding: 8px;
    margin: 5px 0px;
}

input[type=submit]{
    width: 150px;
    align-self: center;
    margin-top: 25px;
}

.account-header {
    background-color: #F5F5EF;
    margin: 200px;
    color: #3C5943;
    padding: 70px;
}

.account-header__title {
    color: #D97652;
    font-weight: 800px;
}

.btn--green {
    background-color:#3C5943;
    color: #F5F5EF;
    padding: 15px 25px;
    text-decoration: none;
}

.btn--lightgreen {
    background-color:#888C69;
    color: #F5F5EF;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 35px;
}

.winkelwagen-bevestiging {
    display: none;
}

footer {
    color:#F5F5EF;
    display: flex;
    flex-direction: row;
}

.alert {
}

.hidden {
    visibility: hidden;
}