* {
    box-sizing: border-box;
  }

body {
    font-family: futura-pt;
    background-color:#F5F5EF;
    margin: 0px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 1.4em;
    padding: 20px;
    background-color: #3C5943;
}

nav a {
    color: #F5F5EF;
    text-decoration: none;
}

h1 {
    font-family: futura-pt;
    font-weight: 700;
    color: #F5F5EF;
    text-align: center;
}

h2 {
    font-family: futura-pt;
    font-weight: 600;
    text-align: center;
    color: #F5F5EF;
    font-size: 35px;
    margin-top: -20px;
}

h3 {
    text-align: center;
    color: #F5F5EF;
    padding-top: 20px;
}

.btn {
    background-color: #D97652;
    color: #FFF;
    padding: 15px;
    text-decoration: none;
	padding: 1rem;
    background-image: -webkit-linear-gradient(45deg, #D97652 50%, transparent 50%);
    background-image: linear-gradient(45deg,#D97652 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}

.btn:hover{
    background-color: #3C5943 ;
}

.btn--green {
    background-color:#3C5943;
    color: #F5F5EF;
    padding: 15px 25px;
    text-decoration: none;
}

.btn--lightgreen {
    background-color:#888C69;
    color: #F5F5EF;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 35px;
}

.header {
    padding: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(#3C5943, #888C69);

}

form {
    display: flex;
    flex-direction: column;
    margin: 5% 30%;
    gap: 5px;
    color:#F5F5EF;
}
/*
footer {
    color: #F5F5EF;
    background-color: #3C5943;
    padding: 20px;
   
}

.footer--info {
    display: flex;
    flex-direction: row;
    align-content: stretch;
}

.footer--logo {
    background-color: #F5F5EF;
    align-self: center;
    justify-content: center;
    padding: 30px;
}*/

/*footer*/

footer {
    color: #F5F5EF;
    background-color: #3C5943;
    padding: 2% 10%;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

footer:after{
    position: absolute;
    width: 100%;
    height: 100%;
    content: ' ';
    background: inherit;
    top: 0;
    bottom:0;
    right:0;
    left:0;
    transform-origin: bottom left;
    transform: skewY(-3deg);
    background-color: #3C5943;
    z-index: -1;
}

.footer--info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer--info--item{
    text-align: left;
}

.fa {
    padding: 5px 0px;
    font-size: 30px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 5%;
  }
  
.fa:hover {
      opacity: 0.7;
}
  
.fa-facebook {
    background:#888C69;
    color: white;
}

.fa-instagram {
    background:#888C69;
    color: white;
  }

.footer--logo {
    background-color: #F5F5EF;
    padding: 2%;
}

.footer--logo--item {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}


input {
    padding: 8px;
    margin: 5px 0px;
}

input[type=submit]{
    width: 150px;
    align-self: center;
    margin-top: 25px;
}

.winkelwagen-bevestiging {
    display: none;
}

.alert {
    color: red;
}

.hidden {
    visibility: hidden;
}

/*account*/

.account-header {
    background-color: #F5F5EF;
    margin: 200px;
    color: #3C5943;
    padding: 70px;
}

.account-header__title {
    color: #D97652;
    font-weight: 800px;
}

/*about*/

.summary--about {
    background-image: url(./images/plant.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #F5F5EF;
    padding: 10% 15% 10% 15%;
    text-align: center;
}

.fact h4 {
    color:white
}

.facts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    align-content: center;
}

.fact {
    padding: 10px 0%;
    margin: 5%;
    border-radius: 30px;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-transform: uppercase;
}

.history {
    display: flex;
    flex-direction: row;
    padding: 4% 8%;
    margin: -5% 18% 0% 18%;
    background-color: #D97652;
    color: #F5F5EF;
    text-decoration: none;
    border-radius: 35px;
    z-index: 1;
    align-items: center;
}

.history__item {
    padding: 10px;
}

.waarden {
    margin: 5% 15%;
}

.waarden h2 {
    color: #3C5943;
}

.waarden h3 {
    color:#3C5943;
}

.waarden__inleiding {
    padding: 0% 10%;
    margin: 5%;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.waarden__titels {
    display: grid;
    grid-template-rows: 60% 40%;
    grid-template-columns: 50% 50%;
    align-items: center;
    padding: 10% 0%;
}

.waarden__titel {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 10%;
    }

.waarden__titel h3{
    font-size: 30px;
}

.waarden__img {
    width: 70px;
}

.jointeam {
    padding: 8% 0% 5% 0%;
    background-color:#888C69;
}

.intro-about{
padding-top: 150px;
display: flex;
}

.intro-about__image{
margin-top: -280px;
padding-left: 75px;
}

.intro-about__text{
   text-align: left;
   padding-right: 150px;
}

.intro-about__title{
    text-align: left;
}

.quote {
    background-image: url("./images/groepsfoto.svg");
    background-color: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    background-position: center;

    background-size: cover;
    padding: 15% 0% 10% 0%;
}

#quote__text {
    text-align: left;
    padding-left: 10%;
    font-size: 30px;
}


@media (max-width:768px) {

    /*about*/
    .fact {
        padding: 2% 0%;
        margin: 3%;
        border-radius: 25px;
    }
}

@media (max-width: 375px) {

    /*about*/
    .facts {
        display: flex;
        flex-direction: column;
    }
    
    .fact {
        background-color: #D97652;
        padding: 2% 0%;
        margin: 5%;
        border-radius: 25px;
    }
    
    .history {
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin: 0px;
        background-color: #D97652;
        color: #F5F5EF;
        padding: 15px 25px;
        text-decoration: none;
        border-radius: 0px;
    }

    .lijn {
        display: none;
    }

    .waarden__inleiding {
        padding: 0% 2%;
        margin: 1%;
    }
    
    .waarden__titels {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    

    .jointeam {
        padding: 80px 10px;
    }

    #quote__text {
        text-align: left;
        padding-left: 10%;
        font-size: 25px;
    }

    /*footer*/
    .footer--info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .footer--info--item{
        text-align: center;
    }

    .fa {
        width: 30px;
        margin: 5px;
        text-align: center;
        padding: 8px 0px;
      }

      form {
        margin: 5% 15%;
    }

    /*algemeen*/

    .header {
        padding: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: linear-gradient(#3C5943, #888C69);
    }
}