* {
    box-sizing: border-box;
  }

body {
    font-family: futura-pt;
    background-image: linear-gradient(#3C5943, #888C69);
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 1.4em;
    padding: 20px;
}

nav a {
    color: #F5F5EF;
    text-decoration: none;
}

h1 {
    font-family: futura-pt;
    font-weight: 700;
    color: #F5F5EF;
    text-align: center;
}

h2 {
    font-family: futura-pt;
    font-weight: 600;
    text-align: center;
    color: #F5F5EF;
    font-size: 35px;
    margin-top: -20px;
}

h3 {
    text-align: center;
    color: #F5F5EF;
    padding-top: 20px;
}

.btn {
    background-color: #D97652;
    color: #F5F5EF;
    padding: 15px;
    text-decoration: none;
}

.btn--green {
    background-color:#3C5943;
    color: #F5F5EF;
    padding: 15px 25px;
    text-decoration: none;
}

.btn--lightgreen {
    background-color:#888C69;
    color: #F5F5EF;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 35px;
}

.header {
    padding: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(#3C5943, #888C69);

}

form {
    display: flex;
    flex-direction: column;
    margin: 20px 300px;
    gap: 5px;
    color:#F5F5EF;
}

footer {
    color: #F5F5EF;
    background-color: #3C5943;
    padding: 20px;
}

.footer--info {
    display: flex;
    flex-direction: row;
    align-content: stretch;
}

.footer--logo {
    background-color: #F5F5EF;
    align-self: center;
    justify-content: center;
    padding: 30px;
}

input {
    padding: 8px;
    margin: 5px 0px;
}

input[type=submit]{
    width: 150px;
    align-self: center;
    margin-top: 25px;
}

/*account*/

.account-header {
    background-color: #F5F5EF;
    margin: 200px;
    color: #3C5943;
    padding: 70px;
}

.account-header__title {
    color: #D97652;
    font-weight: 800px;
}

/*about*/

.quote {
    background-image: url("./images/groepsfoto.svg");
    background-color: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 450px;
    padding-top: 150px;
}


.summary--about {
    background-image: url(./images/plant.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #F5F5EF;
    padding: 60px 50px 100px 50px;
    text-align: center;
}

.facts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}

.fact {
    background-color: #D97652;
    padding: 10px 10px;
    margin-bottom: 15px;
    border-radius: 25px;
}

.history {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: -45px 25px 0 25px;
    background-color: #D97652;
    color: #F5F5EF;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 35px;
}

.winkelwagen-bevestiging {
    display: none;
}

footer {
    color:#F5F5EF;
    display: flex;
    flex-direction: row;
}

.alert {
    color: red;
}

.hidden {
    visibility: hidden;
}

.history__item {
    padding: 10px;
}

.waarden {
    background-color: #F5F5EF;
    padding: 50px 40px;
}

.waarden h2 {
    color: #3C5943;
}

.waarden h3 {
    color:#3C5943;
}

.waarden__inleiding {
    padding: 0px 60px;
    text-align: center;
}

.waarden__titels {
    display: flex;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 40% 40%;
}

.waarden__titel {
    display: flex;
    flex-direction: column;
}

.jointeam {
    padding: 80px 50px;
}

.intro-about{
padding-top: 150px;
display: flex;
}


.intro-about__image{
margin-top: -280px;
padding-left: 75px;
}

.intro-about__text{
   text-align: left;
   padding-right: 150px;
}

.intro-about__title{
    text-align: left;
}

